*.so
*.dll
*.exe
*.lib
*.a
*.exp

# QtCreator
*.pro.user
*.pro.user.*

# Visual Studio
.vs
*.db
*.opendb
*.obj
*.sdf
*.opensdf
*.vcxproj.user
*.log
*.tlog
*.pdb
*.suo

Release_*/
Debug_*/

# SCons
*.dblite